<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:mvc="http://www.springframework.org/schema/mvc"
       xmlns:context="http://www.springframework.org/schema/context"
       xmlns:aop="http://www.springframework.org/schema/aop"
       xmlns:tx="http://www.springframework.org/schema/tx"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
        http://www.springframework.org/schema/beans/spring-beans-4.2.xsd
        http://www.springframework.org/schema/mvc
        http://www.springframework.org/schema/mvc/spring-mvc-4.2.xsd
        http://www.springframework.org/schema/context
        http://www.springframework.org/schema/context/spring-context.xsd
        http://www.springframework.org/schema/aop
        http://www.springframework.org/schema/aop/spring-aop-4.2.xsd
        http://www.springframework.org/schema/tx
        http://www.springframework.org/schema/tx/spring-tx.xsd">

    <!-- 处理器适配器：HandlerAdapter。所有处理器适配器都实现了HandlerAdapter接口-->
    <!-- SimpleControllerHandlerAdapter适配器能执行实现了Controller接口的Handler
    所以，现在配置了这个适配器的话，所有的处理器Handler必须要实现Controller接口才行。-->
    <!--<bean class="org.springframework.web.servlet.mvc.SimpleControllerHandlerAdapter"/>-->
    <!--&lt;!&ndash;配置handler&ndash;&gt;-->
    <!--<bean name="/user.action" class="com.hdl.action.UserServlet"/>-->
    <!--&lt;!&ndash; 配置处理器映射器-->
    <!--将bean的name作为url进行查找，需要在配置Handler时指定beanname（就是url）-->
    <!--&ndash;&gt;-->
    <!--<bean class="org.springframework.web.servlet.handler.BeanNameUrlHandlerMapping"/>-->
    <!--&lt;!&ndash; 配置视图解析器-->
    <!--进行jsp解析，默认使用jstl标签，classpath下得有jstl的包-->
    <!--&ndash;&gt;-->
    <!--<bean class="org.springframework.web.servlet.view.InternalResourceViewResolver"/>-->


    <!--&lt;!&ndash;使用注解方式，需要使用一下两个配置，即mapping和adpater&ndash;&gt;-->
    <!--<bean class="org.springframework.web.servlet.mvc.method.annotation.RequestMappingHandlerAdapter"/>-->
    <!--<bean class="org.springframework.web.servlet.mvc.method.annotation.RequestMappingHandlerMapping"/>-->

    <!--使用注解方式配置springmvc，实际开发中的用法(代替上面两个)-->
    <mvc:annotation-driven/>
    <!--自动扫描action包-->
    <context:component-scan base-package="com.hdl"/>


</beans>